.menu-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 50px 40px;
    background-color: #f6f6f6;
    text-align: center;
}

.menu-reservation h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    max-width: 240px;
}

.menu-reservation p {
    font-size: 16px;
    margin-bottom: 30px;
}

.restaurants-section {
    padding: 8px 20px;
    background-color: #f6f6f6;
}

.restaurants-section h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.restaurants-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

// Loader
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 0.5s 1.5s forwards;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #9356DC;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

// Media queries
@media (min-width: 1024px) {
    .menu-reservation h1 {
        font-size: 30px;
        max-width: none;
        margin-bottom: 10px;
    }

    .menu-reservation p {
        font-size: 13px;
    }

    .restaurants-section {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 100px;
        padding-top: 20px;
    }

    .restaurants-section h2 {
        font-size: 19px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .restaurants-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 100px;
        margin: 0;
        margin-top: 0;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
    }
}